.img{
    width: 50px;
}


.all-browsers {
    margin-left: 10px;
    padding: 5px;
    background-color: lightgray;
    width: 70%;
    margin-right: 10px;
}
  
.all-browsers > h1, .browser {
    margin: 10px;
    padding: 5px;
}
  
.browser {
    background: white;
}
  
.browser > h2, p {
    margin: 4px;
    font-size: 80%;
}


footer {
    font-size: 20px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}


.pagos {
    margin-left: 10px;
    padding: 5px;
    background-color: lightgray;
    width: 70%;
    margin-right: 10px;
}
  
.pagos > h1, .browser {
    margin: 10px;
    padding: 5px;
}
  
.browser {
    background: white;
}
  
.browser > h2, p {
    margin: 4px;
    font-size: 80%;
}

.help{
    height: 35px;
}

.class2 {
    display: flex;
    justify-content: flex-end;
}
 